.form-container{
    display: block;
    box-sizing: border-box;
    width: 700px;
    border: 1px solid grey;
    margin: 10px auto;
    padding: 10px;
}

.form-container input,textarea{
    display: block;
    box-sizing: border-box;
    width: 600px;
    border: 1px solid grey;
    margin: 10px auto;
    padding: 10px;
}

.form-container button{
    border-radius: 20px;
    padding: 10px;
    background-color:white;
    width: 100px;
    margin: 10px auto;
    color:#1ab2b2;
    font-weight: bold;
}
.form-container button:hover{
    cursor: pointer;
    background-color:#1ab2b2;
    color:white;
}

